$accent-color:#2196F3;
$button-hover-color: #188CE8;
$dark-text-color: #212121;
$medium-text-color: #757575;
$light-text-color: #F5F4FA;
$white-text-color: #FFFFFF;
$background-white-color: #FFFFFF;
$background-medium-color: #F5F4FA;
$background-dark-color: #2F303A;
$card-gap: 30px;
$transition-time: 250ms;
$transition-time-function: cubic-bezier(0.4, 0, 0.2, 1);
