/* FOOTER */
.footer__section {
    background-color: $background-dark-color;
    padding: 60px 0;
    display: flex;

    .footer__container {
        display: flex;
        align-items: baseline;

        .footer__address {
        font-style: normal;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        width: 231px;
        color: $white-text-color;
        transition: color $transition-time $transition-time-function;

            &:hover,
            &:focus {
                color: $accent-color;
            }
        }

        .footer__contactsLink {
            font-style: normal;
            font-size: 14px;
            line-height: calc(24/14);
            color: $white-text-color;
            opacity: 0.6;
            transition: color $transition-time $transition-time-function;
        }

        .footer__contactsItem {
            display: flex;
            fill: currentColor;
        }

        .footer__contactsItem:not(:last-child) {
            margin-bottom: 2px;
        }

        .footer__contactsLink:hover,
        .footer__contactsLink:focus {
            color: $accent-color;
        }

        .footer__containerLeft {
            margin-right: 70px;
        }
    }
}


