/* HEADER */
.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
}

.header__logo {
    margin-right: 97px;
}

/* HEADER CURRENT PAGE */
.current-page {
    position: relative;
    color: $accent-color;
    text-decoration: none;
    padding: 32px 0;
}

.current-page::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background-color: $accent-color;
    border-radius: 2px;
}

/* HEADER CONTACTS */
.header-contacts__list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-contacts__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    padding: 32px 0;
    display: flex;
    align-items: center;
    color: $medium-text-color;
    transition: color $transition-time $transition-time-function;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
    color: $accent-color;
}

.header-contacts__item:not(:last-child) {
    margin-right: 50px;
}

.link__icon {
    margin-right: 10px;
    fill: currentColor;
}