.header {
    border-bottom: 1px solid #ECECEC;

    .header__container {
    display: flex;
    }

    .header__logo {
        margin-right: 97px;
    }
}

.header__contactsList {
    display: flex;
    align-items: center;
    margin-left: auto;

    .header__contactsLink {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    padding: 32px 0;
    display: flex;
    align-items: center;
    color: $medium-text-color;
    transition: color $transition-time $transition-time-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
    }

    .header__contactsItem:not(:last-child) {
        margin-right: 50px;
    }

 
}

